* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template: auto auto 1fr auto / 3fr 1fr;
    grid-template-areas:
        "header header"
        "header header"
        "main aside"
        "footer footer";
    min-height: 100vh;
    font-family: Georgia, 'Times New Roman', serif;
    background-color: #000;
}

header {
    grid-area: header;
    background-color: #3a3a3a;
    color: #ffffff;
}
.header-content {
    padding: 30px;
    font-size: 20px;
}

nav {
    background-color: #000;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
nav a {
    display: block;
    padding: 15px 0;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}
main {
    grid-area: main;
    background-color: #d6d6d6;
    padding: 20px;
    font-size: 20px;
}

aside {
    grid-area: aside;
    background-color: #ffffff;
    padding: 20px;
    font-size: 20px;
}

footer {
    grid-area: footer;
    background-color: #3a3a3a;
    color: #ffffff;
    text-align: center;
    padding: 25px;
    font-size: 20px;
}