@media screen and (min-width: 768px) {
    #menu {
        display: none;
    }

    .navigation {
        display: block;
        position: static;
        width: auto;
    }

    .navigation ul {
        display: flex;
        gap: 1rem;
    }

    .navigation a {
        border-top: none;
        padding: 0.5rem 1rem;
    }

    .temple-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    main {
        max-width: 1200px;
    }
}